$font-stack:    		Helvetica, sans-serif;
$primary-color: 		#333;
$background-color: 		#F3EECE;
$light-orange:			#F9C57E;
$orange:				#F17F30;
$grey:					#555;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
}

* {
  box-sizing: border-box;
}

h1 {
  color: $light-orange;
}

h2 {
  color: $grey;
}

a {
  color: $orange;
}

header {
	background-color: $grey;
	padding: 10px 3%;
}

.clear {
	&:before,
	&:after {
		content: "";
  		display: table;
  	}

  	&:after {
  		clear: both;
  	}
}

#main-menu {
	border-top: 1px solid #333;

	ul {
		margin: 0;
		padding: 0;

		li {
			display: inline;
			float: left;
			border-right: 1px solid #333;

			&:hover {
				background-color: #333;
			}

			&:last-child {
				border: none;
				
				a {
					&:last-child {
						border: none;
					}
				}
			}
		}

		a {
			display: block;
			padding: 10px 25px;
			text-decoration: none;
			border-right: 1px solid #777;

		}
	}
}